.App {
  text-align: center;
}

.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
input[type="text"],
input[type="password"] {
  background-color: rgb(194, 200, 212);
  border: 1px solid #52514c;
  height: 40px;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  padding-left: 5px;
}
p {
  font-size: 14px;
  color: #da6767;
}
.formulario {
}
.entrada_de_dados {
  width: 400px;
  margin: 20px auto;
}
.entrada_de_dados input {
}
.entrada_de_dados_error_message {
}
.senha {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.container_senhas {
  display: flex;
  justify-content: space-between;
}
.container_senhas input {
  width: 190px;
}
.container_erros {
  display: flex;
  justify-content: center;
}
.container_erros p {
}
.checkbox {
}
.checkbox input {
  width: 15px;
  height: 15px;
  cursor: pointer;
  filter: saturate(60%);
}
.checkbox label {
  font-size: 16px;
  margin-left: 10px;
}
.submit_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.submit_container button {
  width: 100%;
  font-size: 18px;
  color: white;
  background-color: #324191;
  border: none;
  border-radius: 5px;
  height: 50px;
}
.submit_container p {
  color: #5986c3;
  margin: 16px 0;
  cursor: pointer;
}

::placeholder {
  padding-left: 8px;
}

input.senha_diferente {
  border-color: #da6767;
  border-width: 3px;
}
